.bg--gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  position: relative;
  padding-bottom: 60px;
}
.bg--gradient::after {
  content: "";
  background: #cacadb;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 20px;
  right: 20px;
}
.bg--gradient::before {
  content: "";
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
  height: 10px;
  position: absolute;
  bottom: -20px;
  left: 40px;
  right: 40px;
}

@media screen and (min-width: 768px) {
  .bg--gradient {
    padding-bottom: 0px;
  }
}
