.headline {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
  margin-top: 134px;
  padding-bottom: 160px;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .headline {
    margin-top: 269px;
    padding-bottom: 415px;
  }
}

@media screen and (min-width: 992px) {
  .headline {
    padding-bottom: 288px;
    margin-top: 241px;
  }
}

@media screen and (min-width: 1201px) {
  .headline {
    padding-bottom: 304px;
    margin-top: 257px;
  }
}
