.slider {
  margin-top: 49px;
  margin-bottom: 60px;
}
.slider__name {
  margin-top: 3px;
  margin-bottom: 31px;
}
.slider__page {
  background-color: #f5f5fa;
  border-radius: 12px;
  margin-bottom: 23px;
}
.slider__info {
  padding: 30px;
}
.slider__pic {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.slider__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
  margin-bottom: 5px;
}
.slider__text-extra {
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}

@media screen and (min-width: 768px) {
  .slider__page {
    margin-top: 30px;
  }
}

@media screen and (min-width: 992px) {
  .slider__page-wrapper {
    display: flex;
  }
  .slider__pic {
    border-radius: 12px 0px 0px 12px;
    width: 400px;
    height: auto;
  }
}

@media screen and (min-width: 1201px) {
  .slider {
    margin-bottom: 58px;
  }
  .slider__pic {
    width: 100%;
    height: 345px;
  }
  .slider__info {
    padding: 29px 50px 30px 30px;
  }
}
